[flake8]
ignore = E123, E126, E201, E203, E211, E221, E222, E225, E226, E227, E241, \
         E741, W504 C901
exclude = .git,__pycache__,build,dist
max-complexity = 20
max-line-length = 80
good-names = l
